<!--<div class="header">-->
    <!--<div class="logo-b" ng-if="o.showLogo">-->
        <!--<img src="resource/img/case-teacher.svg" alt="logo" class="logo">-->
        <!--<span class="offline" ng-if="!_user.toggleOnline">离线</span>-->
    <!--</div>-->
    <!--<div class="back clickAudio" ng-click="goBack()" ng-if="o.showBack">-->
        <!--<span>返回</span>-->
    <!--</div>-->
    <!--<div class="title" ng-bind="o.title" ng-if="o.title"></div>-->
    <!--<div class="title-box" ng-show="o.stateName == 'layout.app.classList'">-->
        <!--<span class="class-type-item active clickAudio" ng-class="{'active': _head.classList.type == 'my'}" ng-click="o.changeClassListType('my')">我的课堂</span>-->
        <!--<span class="class-type-item clickAudio" ng-class="{'active': _head.classList.type == 'primary'}" ng-click="o.changeClassListType('primary')">主题课堂</span>-->
    <!--</div>-->
    <!--<div class="info" ng-show="o.showUserName || o.showDevice">-->
        <!--<button class="btn device-count clickAudio" ng-click="goDeviceCenter()" ng-class="{'disable': isDisabledClick('device')}" ng-show="o.showDevice">设备数:{{_cube.cubes.length}}</button>-->
        <!--<img src="resource/img/logo_bird.png" alt="logo" class="link user-head clickAudio" ng-class="{'disable': isDisabledClick('userInfo')}" ng-click="goUserInfo()" ng-show="o.showUserName">-->
        <!--<span class="link nickname clickAudio" ng-class="{'disable': isDisabledClick('userInfo')}" ng-click="goUserInfo()" ng-bind="currentUser.userName|userName" ng-show="o.showUserName"></span>-->
    <!--</div>-->
<!--</div>-->


<div>header</div>