@keyframes arrowIndicator {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(5%);
  }
}
.arrowIndicator{
  animation: arrowIndicator 1s 0s both infinite;
}